{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

    Login
{% endblock %}

{% block container %}

   <h1>Create your account</h1>

      <div>
          <form method="POST" class="from-group">
              {{% csrf_token %}
              <fieldset>
                  {{ form | crispy}}
              </fieldset>
              <button type="submit" class="form-group btn btn-primary">
                  Login!
              </button>
               <div>
                  Don't have an account? <a href="{%url 'register' %}" >Register</a> here.
              </div>
          </form>

      </div>




   {{ registration_form }}

{% endblock %}